body {
    font-family: 'Poppins', sans-serif;
    margin: 3rem;
}

/*Ajustes de nav e header*/
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
}

.logo {
    height: 2.5rem;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ancoras {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40rem;
}

.redes__sociais {
    width: 7rem;
    display: flex;
    justify-content: space-between;
}

/*Ajustes de main*/
main {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 5rem 0;
    justify-content: center;
    gap: 5rem;
}

.apresentacao {
    width: 45%;
    align-self: center;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.1;

    background-image: linear-gradient(to bottom, #13B0F5, steelblue, #E70FAA);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
}

.meu__perfil {
    width: 25%;
}

/* Criando seção de skills*/
article {
    padding-top: 3rem;
    margin-top: 3rem;
}

.data {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-top: 3rem 0;
}

.data h2 {
    color: #42446E;
    font-size: 2.2rem;
    font-weight: bold;
}

.data h3 {
    color: #000;
    font-size: 1rem;
}

.tecnologies {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-self: center;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 2rem;
    width: 30rem;
}

.tecnologies img {
    width: 4rem;
}

.tecnologies > img:hover {
    filter: drop-shadow(0 0 15px #13B0F5) drop-shadow(0 0 30px steelblue) drop-shadow(0 0 45px #E70FAA);
}

@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .apresentacao {
        font-size: 1rem;
    }

    .meu__perfil {
        width: 150px;
    }
}

.--separador{
    border-top: 2px solid #ccc;
}

/* Rodapé*/
footer{
    height: 2rem;
    width: 100%;
    margin: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: end;
}