body {
    font-family: 'Poppins', sans-serif;
    margin: 3rem;
}

/*Ajustes de nav e header*/
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
}

.logo {
    height: 2.5rem;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ancoras {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40rem;
}

.redes__sociais {
    width: 7rem;
    display: flex;
    justify-content: space-between;
}
